# The NATS URL to connect to
NATS_URL=nats://localhost:4222

# Path to the Milvus vector database
MILVUS_PATH="./data/milvus/milvus.db"

# Replace with your OpenAI API key
OPENAI_APIKEY=
OPENAI_BASEURL=https://chat-ai.academiccloud.de/v1

DB_URL=postgresql+psycopg2://<username>:<password>@localhost:5432/<database_name>

# Replace with langfuse credentials
LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_HOST=https://langfuse.teckdigital.de
